doctype html
html
    head
        title checkpoint express - #{title}
        style
            include /style.css
            //- link(rel="stylesheet" href="style.css")
         
    body
    
    block nav
        div(style="dosplay : flex ;")
            h1 Welcome To Our Website
            ul
                li <a href='/' > home</a>
                li <a href='/service' > service </a>
                li <a href='/contact' > contact </a>      
    block content